@import "normalize";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);

  &:hover, &:focus {
    text-decoration: underline;
  }
}

/* LAYOUT CSS */
.pure-img-responsive, .pure-img {
  max-width: 100%;
  height: auto;
}

.header {
  text-align: center;
  padding: 1em;
  margin: 3em auto;
}

.sidebar {
  background: #000;
  color: #fff;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
}

.brand-title a {
  color: inherit;
}

.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.nav-list {
  padding: 0;
  margin: 0;
}
.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;

  a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    padding: .5em 1em;

    display: inline-block;
    margin-top: 1em;
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;

    border-radius: 2px;

    &:hover, &:focus {
      border: 2px solid rgb(61, 146, 201);
      text-decoration: none;
    }
  }
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
  font-size: 1em;
}

.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}

.post-title a {
  color: inherit;
}

.post-description {
  color: #444;
  line-height: 1.8em;
  max-width: 960px;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}
.post-category-Random {
  background: #5aba59;
}
.post-category-Development {
  background: #4d85d1;
}
.post-category-Reviews {
  background: #8156a7;
}
.post-category-js {
  background: #df2d4f;
}

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.footer {
  padding: 1em 0;

  a {
    color: #ccc;
    font-size: 80%;
  }

  .pure-menu {
    a:hover, a:focus {
      background: none;
    }
  }
}

#layout {
  display: grid;
}

@media screen and (min-width: 48em) {

  #layout {
    grid-template-columns: 1fr 3fr;
  }

  .content {
    padding: 2em 3em 0;
    
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .footer {
    text-align: center;
  }
}
