.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}

.post-title a {
  color: inherit;
}

.post-description {
  color: #444;
  line-height: 1.8em;
  max-width: 960px;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}
