.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}
.post-category-Random {
  background: #5aba59;
}
.post-category-Development {
  background: #4d85d1;
}
.post-category-Reviews {
  background: #8156a7;
}
.post-category-js {
  background: #df2d4f;
}
